@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display');

body {
  text-align: center;
  font-family: 'Major Mono Display', monospace;
  color: #ff3333;
}

.buttons {
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  visibility: hidden;
}

.buttons div {
  font-size: 66px;
}

.buttons div:nth-of-type(3) {
  font-size: 72px;
}

.buttons:hover, #play:hover, #replay:hover {
  cursor: pointer;
}

#play {
  width: 140px;
  height: 70px;
  font-size: 40px;
  border: 1px solid #ff3333;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

#replay {
  width: 100px;
  margin: auto;
  font-size: 72px;
  visibility: hidden;
}
